/* Styles for tablets */
@media only screen and (min-width: 48em) {
    body {
        font-size: 16px;
    }

    header a img {
        max-height: 100px;
    }

    header .social a {
        line-height: 110px;
    }

    main .introduction .video {
        display: none;
    }

    main .introduction #videoheader {
        display: block;
        float: left;
        height: 300px;
        width: 55%;
    }

    main .introduction .description {
        float: left;
        margin-left: 1em;
        max-width: 42%;
        width: 100%;
    }

    footer .partners-row img {
      margin: 0.5em;
      max-width: 100px;
    }
}
