/* Styles for desktops */
@media only screen and (min-width: 71.25em) {
    header {
        margin-bottom: 1em;
    }

    footer {

    }

    header a img {
        max-height: 150px;
    }

    footer, main {
      margin: 0 auto;
      width: 1140px;
    }
}
