/* Styles for desktops */
@media only screen and (min-width: 71.25em) {

    header a img {
        max-height: 150px;
    }

    header .social a {
        line-height: 160px;
    }

    header .full-header, footer, main {
      margin: 0 auto;
      width: 1140px;
    }
}
